/* styles.css */
main{
    background-color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}
hr{
    margin: 0;
    padding: 0;
}
/* Хедер */
header {
    position: relative;
    width: 100%;
    background-color: #5f2a5f; /* Фон для верхнего блока */
}

/* Верхнее меню */
/* Скрытое состояние */
.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #5f2a5f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

/* Показ */
.top-menu.visible {
    transform: translateY(0);
}

/* Эффект при наведении */
.top-menu:hover {
    transform: translateY(0) !important;
}


/* Логотип */
.Logo img {
    width: 150px;
    height: auto;
}

/* Фото в хедере */
.Headr_photo {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1; /* Фото ниже других элементов */
}

.Headr_photo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный слой */
    z-index: 1;
}
.Headr_photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.cta h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.cta p {
    font-family: 'Benzin', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 1.6;
}

.cta-button {
    font-family: 'Benzin';
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff0066;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #cc0052;
}





.nav-links a {
    background-position: center;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 3px;
    background-image:  linear-gradient(to right, #ffff, rgb(255, 0, 255)); /* Параметры градиента */
    background-repeat: no-repeat; /* Фон не повторяется */
    background-size: 0px 0px; /* Линия будет шириной 10px и высотой 2px */
    background-position: left bottom; /* Положение в левом нижнем углу */
    padding-bottom: 2px; /* Расстояние от текста до линии */
    text-decoration: none; /* Убираем подчёркивание */
    transition: 0.5s; 
}

.Logo img{
    width: 200px;
    height: 50px;
}





/*МЕЙН ЧАСТЬ*/
.content-1{
    margin-left: 45px;
    padding-left: 20px;
    padding-bottom: 30px;
    justify-content: left;
    font-family: 'Montserrat';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.cb1_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-left:15px;
    color: #003430;
}
.cb1_text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; margin: 20px 0;
    color: white    ;
    background-color: #5f2a5f;
    border-radius: 20px;
    border-width: 2px;
    border-style:solid;
    display: inline-block;
    padding: 0px 15px;
}
.button4exams{
    margin: 30px 0 0 100px;

}
.button4exams a{
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    border-radius: 20px;
    border-width: 2px;
    border-style:solid;
    color: #5f2a5f;
}

.cb1_2{
    display: inline-block;
    position: relative;
    justify-content: space-around;
}



.content-2{
    justify-content: space-around;
    margin-bottom: 30px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-right: 20px;
    width: 1413px;
    display:flex;
    padding: 50px;
    background-color: #5f2a5f;
}
.cb2_1{
    position: relative;
    background-color: white;
    border-radius: 15%;
    border-width: 2px;
    border-style:solid;
    padding: 20px;
    display: inline-block;
}
.cb2_1 h1{
    color: #5f2a5f;
    text-align: center;
}
.cb2_1 p{
    color: black;
    text-align: left;
}
.cb2_2{
    background-color: white;
    position: relative;
    border-radius: 15%;
    border-width: 2px;
    border-style:solid;
    padding: 20px;
    display: inline-block;
}
.cb2_2 h1{
    color: #5f2a5f;
    text-align: center;
}
.cb2_2 p{
    color:rgb(0, 0, 0);
    text-align: left;
}
.cb2_3{
    background-color: white;
    position: relative;
    border-radius: 15%;
    border-width: 2px;
    border-style:solid;
    padding: 20px;
    display: inline-block;
}
.cb2_3 h1{
    color: #5f2a5f; 
    text-align: center;
}
.cb2_3 p{
    color: rgb(0, 0, 0);
    text-align: left;
}



.content-3{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 30px;
    justify-content: left;
    font-family: 'Montserrat';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.cb3_1{
    display: inline-block;
    position: relative;
    justify-content: space-around;
}
.cb3_2{
    margin-left: 900px;
}
.cb3_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: left;
    margin-left: 50px;
}
.cb3_text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; margin: 20px 0;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #5f2a5f;
    color: white;
    border-width: 2px;
    border-style:solid;
    display: inline-block;
    padding: 10px 20px;
}
.btn2 a{
    margin-left: 50px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    border-radius: 20px;
    border-width: 2px;
    border-style:solid;
    color: #5f2a5f;
}



/*index.html*/
.man9sua .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный слой */
    z-index: 1;
    transform: translateY(230%);
}
.man9sua_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 730%);
    color: white;
    text-align: center;
    z-index: 2;
}
.TgLogo{
    transform: translate(60%, -70%);
    width: 700px;
    height: 438px;
    z-index: 2;
    position: absolute;
}
.man9sua_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}
.man9sua_text{
    font-family: 'Benzin', sans-serif;
    font-size: 21px;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 1.6;
}
.tgpks{
    font-family: 'Benzin';
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff0066;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.mcb1_11gr{ margin-top: 10px;
    margin-bottom: 40px;
    justify-content: space-around;
}
.mcb1_12023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: #5f2a5f;
    border-radius: 15%;
    border-width: 2px;
    color:#ffffff;
}
.mcb1_12023 a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.mcb1_22023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: #5f2a5f;
    border-radius: 15%;
    border-width: 2px;
    color:white;
}
.mcb1_22023 a{
    text-decoration: none;
    color:white;
}

.mcb1_32023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: #5f2a5f;
    border-radius: 15%;
    border-width: 2px;
    color:white;
}
.mcb1_32023 a{
    text-decoration: none;
    color:white;
}

.mcb1_42023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: #5f2a5f;
    border-radius: 15%;
    border-width: 2px;
    color:white;
}
.mcb1_42023 a{
    text-decoration: none;
    color:white;
}

.mcb2_10gr{ margin-top: 10px;
    margin-bottom: 40px;
    justify-content: space-around;
}

.mcb2_12023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: #ffffff;
    border-radius: 15%;
    border-width: 2px;
    color:#000000;
}
.mcb2_12023 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.mcb2_22023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    border-radius: 15%;
    border-width: 2px;
    color:rgb(0, 0, 0);
}
.mcb2_22023 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.mcb2_32023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    border-radius: 15%;
    border-width: 2px;
    color:rgb(0, 0, 0);
}
.mcb2_32023 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.mcb2_42023{
    left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 15px 20px; 
    font-family: 'Benzin';
    text-decoration: none;
    font-size: 25px;
    background-color: #ffffff;
    border-radius: 15%;
    border-width: 2px;
    color:rgb(0, 0, 0);
}
.mcb2_42023 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}



.ex_10gr{
    display: inline-block;
    position: relative;
    justify-content: space-between;
    color: black;
}
.ex24-25_10{
    text-decoration: none;
}
.ex24-25_10 h1{
    font-family: 'Roboto';
    font-size: 20px;
}
.ex24-25_10 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ex24-25_10 h2{
    font-family: 'Benzin';
    margin-left: 10px;
    color: #000000;
}
.ex24-10{
    justify-content: space-between;
    display: inline-block;
    font-family: 'Monserrat';
    text-align: center;
    margin-left: 50px;
    padding: 7px;
    background-color: #5f2a5f;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}


/*НИЖНАЯ ЧАСТЬ*/
footer {
    justify-content: space-between;
    font-family: 'Benzin';
    background: #5f2a5f;
    color: white;
    text-align: center;
    padding: 10px 0;

}
footer p{
    color:#ffff;
}
.number{
    text-align: left;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.adr p{
    color:rgb(149, 149, 149);
}
.adr p{
    margin-left: 40px;
    margin-bottom: 2px;
}
.adr ul{
    margin-top: -3px;
}
.adr li{
    text-decoration: none;
    color: rgb(149, 149, 149) ;

}
.adr a{
    text-decoration: none;
    color:rgb(149, 149, 149);
}
.adress{
    text-align: left;
    text-decoration: none;
    position:relative;
    display: inline-block;
}
.socialMedia{
    text-align: left;
    text-decoration: none;
    position:relative;
    display: inline-block;
}

/*ШРИФТЫ*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Benzin';
    src: local('Benzin Regular'), local('Benzin-Regular'),
        url('Benzin-Regular.woff2') format('woff2'),
        url('Benzin-Regular.woff') format('woff'),
        url('Benzin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Benzin';
    src: local('Benzin Bold'), local('Benzin-Bold'),
        url('Benzin-Bold.woff2') format('woff2'),
        url('Benzin-Bold.woff') format('woff'),
        url('Benzin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


.cb2_title{
    color: #5f2a5f;
    font-family: 'Montserrat';
}
.cb2_text{
    font-family: 'Roboto';
}
.btn2{
    font-family: 'Benzin';
}


.exs{
    font-family: 'Montserrat';
}
.exs ul,li{
    list-style: none;
    text-decoration: none;
    color: black;
}
.correctAns{
    border-color: greenyellow;
    border-width: 2px;
}


.container {
    width: 50px;
  }


  .toggle-header {
    width: 300px;
    background-color: #3498db;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
  }

  .toggle-content {
    max-height: 0;
    overflow: hidden;
    background-color: #ecf0f1;
    transition: max-height 0.5s ease, padding 0.5s ease;
    border-radius: 0 0 8px 8px;
  }

  .toggle-content.open {
    max-height: 100%; /* Высота содержимого */
    padding: 15px;
  }















